header{
    background: rgb(244, 244, 244);
    color: #ea0a0a;
    border-bottom: 1px solid #ea0a0a;
    padding: 0 24px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: #110e0e;
    font-family: 'Poppins', sans-serif;
}
